/* Select HTML element Start */
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(0, 22, 49);

    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-right: 20px;
}

input {
    width: 400px;
}
/* Select HTML element End */

/* -------------------------------------------------------- */

/* Header Start */
header {
    position: relative;
    top: 0;
    left:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    width: 100%;
   
}
#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
}
img {
    margin-left: 20px;
    margin-right: 20px;
    height:75px;
    width: 75px;  
}

#sign_out {
    color:white;
    text-decoration: none;
    margin-right: 10px;
}
#user {
    width: 40%;
}

/* Header End */

/* -------------------------------------------------------- */

/* Main Content Start*/
main {
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    height: 70vh; /* Set height to viewport height */
    flex-direction: column;
    margin-top: 45px;
}

#decription{
    width: 40%;
}
form {
    text-align: center;
    position: relative;

    border: 1px solid black;
    background-color: rgb(3, 32, 67);
    padding: 80px;
    width:20%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 6px 6px black;
}
label {
    font-size: x-large;
}
input {
    margin-bottom:30px;
    width: 200px;
}

button {
    padding: 15px;
    border-radius: 10px;
    border-collapse: collapse;
    background-color: rgb(0, 18, 42);
    color: white;
    font-size: large;
}

a {
    color:white;
    margin-left: 20px;
}

/* Main Content end*/

/* -------------------------------------------------------- */

/* Footer Start */
footer {
    color: white;
    background-color: black;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
/* Footer End */


/* -------------------------------------------------------- */
@media (max-width: 600px){
    label{
        font-size: 22px;
    }
    input{
        width: 25vh;
        margin-right: 50px;
        position: relative;
        right: 30px;
    }
   
    form {
        position: relative;
        padding: 30px 130px;
        margin-top: 30px;
        
    }
    #decription{
        width: 75%;
    } 
    main {
        margin-top: 20px;
        height: 100%;
    }
    #user {
        display: none;
    }
    
}